.left {
    position: fixed;
    background-color: aquamarine;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.right {
    position: fixed;
    background-color: aliceblue;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    
}
 
.ground {
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.rocket {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 20px;
    height: 100px;
    background-color: blue;
    transition: bottom 10000ms;
}

body.body-state1 .rocket {
    transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    bottom: 1000px;
}

.state1, 
.state2, 
.state3, 
.state4, 
.state5 {
    display: none;
}

body.body-state1 .state1 {display: block;}
body.body-state2 .state2 {display: block;}
body.body-state3 .state3 {display: block;}
body.body-state4 .state4 {display: block;}
body.body-state5 .state5 {display: block;}

a {
    
}

a.button {
    
}
